Adafruit-Blinka>=5.2.3
adafruit-circuitpython-sht31d>=2.3.2
google-api-python-client>=1.10.0
google-auth-httplib2>=0.0.4
google-auth-oauthlib>=0.4.1
matplotlib>=3.3.0
numpy>=1.19.1
PyQt5>=5.11.3
requests>=2.24.0
RPi.GPIO>=0.7.0